.model-view-list {
    display:flex;
    flex-direction: column;
    height: 100%;
}

nz-list-item > div {
    max-height: 64px;
    overflow: hidden;
}

nz-list-item {
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

nz-list-item:hover {
    background: #bae7ff;
}

nz-list-item.selected {
    background: #5bc2f9;
}