<div class="model-view-details">
    <mv-item-container>
        <div mv-item-header>
            <button nz-button nzType="primary" (click)="search()">
                <i nz-icon type="save" theme="outline"></i>Update
            </button>
            <button nz-button nzType="primary" (click)="search()">
                <i nz-icon type="undo" theme="outline"></i>Undo
            </button>
        </div>
        <div mv-item-body>
            <div *ngFor="let property of properties">
                <div>{{property.Name}}</div>
                <ng-container *ngIf="property.IsNavigation">
                    <button nz-button nzType="dashed" (click)="onViewProperty(property)"><i nz-icon type="double-right" theme="outline"></i>View</button>
                </ng-container>
                <ng-container *ngIf="!property.IsNavigation">                  
                  <div [ngSwitch]="getType(property.TypeName)">            
                      <div *ngSwitchCase="types.Number">
                          <nz-input-number [(ngModel)]="data[property.Name]"></nz-input-number>
                      </div>
                      <div *ngSwitchCase="types.Boolean">
                          <nz-switch [(ngModel)]="data[property.Name]"></nz-switch>
                      </div>
                      <div *ngSwitchCase="types.String">
                          <textarea nz-input nzAutosize [(ngModel)]="data[property.Name]"></textarea>
                      </div>
                      <div *ngSwitchDefault>...</div>
                  </div>
                </ng-container>
            </div>
        </div>
    </mv-item-container>
</div>